<div class="container">     
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Image</th>
          <th>Published on</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td rowspan="5"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <td>
          <button class="btn btn-warning" style="cursor:pointer"    style="margin-left: 20px;"> Approve</button>&nbsp;&nbsp;
          <button class="btn btn-danger" style="cursor:pointer" >Reject</button>
        </td>
      </tbody>
    </table>
  </div>